<%= simple_form_for todo, html: { class: "todo form" } do |f| %>
  <% if todo.errors.any? %>
    <div class="error-message">
      <%= todo.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :task, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
